body {
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    background-color: lightseagreen;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 80px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-shadow: 5px 5px 5px salmon;
}

h2 {
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
}

p  {
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}


.startButton {
  border-radius: 12px;
  background-color: darkseagreen;
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.startButton:hover {
  border-radius: 12px;
  background-color: seagreen;
  border: none;
  color: white;
  padding: 10px 25px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 {
    box-sizing: border-box;
}
body {
    font-family: arial,  sans-serif;
    color: white;
}
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 30 0 0px;
    border-bottom: 5px solid lightsalmon;
    text-align: center;
    color: lightseagreen;
}
.current-word {
    list-style: none;
    color: lightseagreen;
}
.output {
    font-size: 25px;

}
.correct {
    background-color: lightpink;
    font-size: 25px;
}
.error {
    color: lightpink;
    opacity: 1;
    font-size: 25px;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: lightgreen;
    opacity: 1;
}

button {
  background-color: lightpink;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-bottom: 20px;
}

button:hover {
  background-color: hotpink;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-bottom: 20px;
}



#guess {
    background-color: lightpink;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;
  }


#guess:hover {
    background-color: hotpink;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom: 20px;
}

#letter {
    background-color: white;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
  }


#letter:hover {
    background-color: mistyrose;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
